name: Weather Data Crawl

on:
  schedule:
    - cron: "0 */2 * * *"   # chạy mỗi 2 giờ
  workflow_dispatch:        # có thể chạy thủ công từ GitHub

jobs:
  crawl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python weather_air_quality.py

      - name: Upload weather data CSV
        uses: actions/upload-artifact@v4
        with:
          name: weather-data
          path: weather_air_quality.csv

      - name: Delete old CSV after upload
        run: rm -f weather_air_quality.csv
